# ==================================================
# --- Folders
# ==================================================

# ==================================================
# IntelliJ

.idea/

# ==================================================
# Maven

/target/

# ==================================================
# --- Files
# ==================================================

# Nothing here.
